@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="@Url.Action("Index","Dashboard")">SIMS BTec</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0 position-relative" style="width: 300px;">
        <div class="input-group">
            <input class="form-control" type="text" id="navbarSearchInput" placeholder="Search courses, students..." aria-label="Search for..." aria-describedby="btnNavbarSearch" autocomplete="off" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
        <div id="searchResults" class="position-absolute top-100 start-0 w-100 bg-white border rounded shadow-lg mt-1" style="display: none; max-height: 400px; overflow-y: auto; z-index: 1000;">
            <div id="searchResultsContent" class="list-group list-group-flush"></div>
        </div>
    </div>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                @if (User.IsInRole("Admin"))
                {
                    <li><a class="dropdown-item" href="@Url.Action("Index", "Settings")">Settings</a></li>
                    <li><a class="dropdown-item" href="@Url.Action("Index", "ActivityLog")">Activity Log</a></li>
                }
                @if (User.IsInRole("Student"))
                {
                    <li><a class="dropdown-item" href="@Url.Action("EditProfile", "Student")"><i class="fas fa-user-edit me-2"></i>My Profile</a></li>
                }
                <li><hr class="dropdown-divider" /></li>
                <li>
                    <form method="post" action="@Url.Action("Logout", "Login")">
                        <button class="dropdown-item" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</nav>
